@import "tailwindcss";


@theme {

    --color-blue-main: #00C6FF;
    --color-primary-bg: #0A0F1E;
    --color-secondary-bg: #161B2E;
    --color-card-bg: #131B2E;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #B0B8C1;
    --color-text-blue: #00C6FF;
    --color-glowBlue: '0 0 20px 2px #00AEEF',
}
@layer components {
    .universal-card {
      @apply bg-[#0E1625b3] border border-[#00AEEF33] p-8 rounded-2xl shadow-[0_0_25px_-10px_#00AEEF30] hover:shadow-[0_0_35px_-6px_#00AEEF70] transition-all duration-500;
    }
  }
  
html,body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;

  }


  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  .animate-marquee {
    animation: marquee 15s linear infinite;
  }
  
  .translate-101 {
    transform: translateX(101%);
  }
  